<div id="container">
  <div class="large-form margin-top margin-bottom">

    <ul class="nav nav-tabs margin-bottom">
      <li><a href="#!/user-settings">User Settings</a></li>
      <li class="active"><a href="#/change-password">Change Password</a></li>
    </ul>

    <form name="formChangePassword" ng-submit="formChangePassword.$valid && vm.save()">

      <label>Old Password</label>
      <input ng-model="vm.password" type="password" class="form-control margin-bottom" required>

      <label>New Password<span ng-hide="formChangePassword.new.$valid"> must be between 3 and 256 characters.</span> <span ng-show="formChangePassword.new.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.new" name="new" type="password" class="form-control margin-bottom" ng-minlength="8" ng-maxlength="512" required>

      <label>Verify password<span ng-hide="formChangePassword.verify.$valid">. Passwords must match.</span> <span ng-show="formChangePassword.verify.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.verify" name="verify" type="password" class="form-control margin-bottom" ng-match="vm.new" required>

    <flash></flash>

      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!formChangePassword.$valid"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>

    </form>

  </div>
</div>
