<div class="outer-flexbox">
  <div class="url-fixed">
    <form name="urlForm" ng-submit="urlForm.$valid && vm.submit()" novalidate>
      <div class="input-group">      
        <span class="input-group-addon" id="basic-addon1">URL:</span>
        <input ng-model="vm.url" type="text" class="form-control" autocomplete="off" ng-pattern="vm.regex" autofocus required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-disabled="!urlForm.$valid">Go!</button>
        </span>
      </div>  
    </form>
  </div>
  <div class="scroll-list">
    <ul class="list-group">
      <li ng-repeat="link in vm.links" class="list-group-item">
        <a href="/{{ link.slug }}" target="_blank">{{ vm.prefix }}{{ link.slug }}</a> - <a href="/{{ link.slug }}" target="_blank">{{ link.url }}</a> - {{ link.Hits }} View{{ link.Hits > 1 ? 's' : '' }}
      </li>
    </ul>
  </div>
</div>