<div id="container">

  <div class="small-form margin-top margin-bottom">

    <div class="panel panel-default">

      <div class="panel-heading">Recover Password</div>

      <div class="panel-body">

        <form name="recoverForm" ng-submit="recoverForm.$valid && vm.getRecover()" novalidate>

          <label>Email address</label>
          <input ng-model="vm.email" type="email" class="form-control margin-bottom" autocomplete="off" autofocus required>

          <button type="submit" class="btn btn-lg btn-success btn-block margin-bottom" ng-disabled="!recoverForm.$valid">
            Send recover email&nbsp;
            <span class="glyphicon glyphicon-envelope"></span>
          </button>

        </form>

        <flash></flash>

      </div>

  </div>

</div>
