node_modules/
www/dashboard/bower_components
_src/build/
package-lock.json
config.json
nodemon.json
www/dashboard/index.html
www/dashboard/app.min.js
www/dashboard/app.css
www/dashboard/app.css.map
sessions/