<div id="container">

  <div class="small-form margin-top margin-bottom">

    <div class="panel panel-default">

      <div class="panel-heading">Reset Password</div>

      <div class="panel-body">

        <form name="resetForm" ng-submit="resetForm.$valid && vm.reset()" novalidate>

          <label title="Password must be between 3 and 256 characters">Password</label>
          <input ng-model="vm.password" type="password" class="form-control margin-bottom" ng-minlength="8" ng-maxlength="512" required>

          <label title="Passwords must match">Verify password</label>
          <input ng-model="vm.verify" type="password" class="form-control margin-bottom" ng-match="vm.password" required>

          <button type="submit" class="btn btn-lg btn-success btn-block margin-bottom" ng-disabled="!resetForm.$valid">
            Reset Password&nbsp;
            <span class="glyphicon glyphicon-save"></span>
          </button>

        </form>

        <flash></flash>

      </div>

  </div>

</div>
