<div id="container">
  <div class="large-form padding-top margin-bottom">

    <ul class="nav nav-tabs">
      <li><a href="#!/login">Log in</a></li>
      <li class="active"><a href="#/signup">Sign up</a></li>
    </ul>

    <div class="page-header">
      <h2>
        <small>Setup your user account</small>
      </h2>
    </div>

    <form name="formSignup" ng-submit="formSignup.$valid && vm.save()" novalidate>

      <label>Username<span ng-hide="formSignup.username.$valid">: Choose a login username between 3 and 16 characters in length with only alphanumerical characters and no spaces.</span>&nbsp;<span ng-show="formSignup.username.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.username" name="username" type="text" class="form-control margin-bottom" ng-minlength="3" ng-maxlength="16" ng-pattern="vm.regex" autocomplete="off" required autofocus>

      <label>Email address<span ng-hide="formSignup.email.$valid">: Provide a valid working email address.</span>&nbsp;<span ng-show="formSignup.email.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.email" name="email" type="email" class="form-control margin-bottom" autocomplete="off" required>

      <label>Password<span ng-hide="formSignup.password.$valid">: Choose a password between 3 and 256 characters.</span>&nbsp;<span ng-show="formSignup.password.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.password" name="password" type="password" class="form-control margin-bottom" ng-minlength="8" ng-maxlength="512" required>

      <label>Verify password<span ng-hide="formSignup.verify.$valid">: Enter your password a second time.</span>&nbsp;<span ng-show="formSignup.verify.$valid" class="glyphicon glyphicon-ok green"></span></label>
      <input ng-model="vm.verify" name="verify" type="password" class="form-control margin-bottom" ng-match="vm.password" required>

      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!formSignup.$valid">Sign up</button>

    </form>

    <flash></flash>

  </div>
</div>